
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema Paradise - Home</title>

    @Styles.Render("~/Content/css/landing-page")
    @Styles.Render("~/Content/css")


</head>
<body>
    @Html.Partial("_NavBar")

    <!-- Put your page content here! -->

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Rent New Films & TV Series on DVD & Blu-Ray

            </span>
        </div>

    </div>
    <section class="section section-light">
        <h2>On the hunt for the best place to rent movies online?</h2>
        <p>
            You’ve come to the right spot. After all, we love films as much as you do.

            Cinema Paradise makes it easy to buy or rent movies online, wherever you are, whenever you like. With over 90,000 films available at your fingertips, this is your one-stop shop for online movie rentals.

            Choose a plan based on the number of online DVD rentals you’d like to make each month, at any one time. It really is up to you. DVD rentals online has never been easier!

            Take a peek at our extensive catalogue and find the perfect film - or the one you never quite managed to watch. From Action & Adventure to Classics and Comedy, you’re sure to find the ideal title for you, your family and friends.
        </p>


    </section>

    <div class="pimg2">
        <div class="ptext">
            <span>

            </span>
        </div>

    </div>
    <section class="section section-dark center">
        <h2>How it works</h2>
        <p>Whether for a family member, friend, colleague, or loved one, the  film subscription service is perfect to share.</p>

        <img class="responsive" src="~/Content/img/HowItWorks.jpg">
    </section>


    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
                Our subscribers love us <br />
                ... i would like to say that your service is second-to-none, highly efficient, reliable and i will be recommending it to anyone. Thank you for great service and many hours of viewing ...
                Simon from Dagenham

            </span>
        </div>

    </div>
    <section class="section section-dark">
        <h2>Blu-ray Rental & DVD Rental</h2>
        <p>It's easy to rent films from us on DVD and Blu-ray discs by post. If you live in the UK you can have the latest new releases delivered straight to your doorstep via our Online DVD Rental service. Return postage is free, there are no fees for returning your discs late, and you're under no other obligation. Simply keep your DVD rentals until you're finished with them, then pop them back in the post to us. You'll then be sent more discs from your DVD rental queue. It's simple!</p>

    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                New Movie & Film Releases to Rent
            </span>
        </div>

    </div>


</body>


@Scripts.Render("~/bundles/lib")



</html>

